
.top{
	width: 100%;
	height: 120px;
	background-color: #52cbc5;
}  
.div_logo{
	width: 190px;
	height: 70px;
	float: left;
	margin-left: 100px;
	margin-top: 40px;
	background-color: #fff;
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 3px;
}
.div_logo img{
	height: 50px;
}
/*top  结束*/

.publish{
	width: 100%;
	height: 900px;
	background-color: #52cbc5;
}
.publish_zhong{
	width: 1100px;
	height: 900px;
	background-color: #52cbc5;
	margin: 0 auto;
}
.publish_z{
	width: 400px;
	background-color: #fff;
	float: left;
	margin-top: 100px;
	margin-left: 350px;
	border-radius: 10px;
	padding-bottom: 20px;
}
.form_work{
	width: 360px;
	margin-top: 20px;
	margin-left: 20px;
}
.form_work h2{
	color: #333;
}
.form_work span{
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: 600;
	width: 70px;
	height: 25px;
	float: left;
	padding-right:10px; 
	text-align: right;
}
.form_work .msg{
	display: inline-block;
	color: red;
	font-size: 16px;
	font-weight: 400;
	width: 360px;
	height: 23px;
	padding-left: 70px;
	text-align: left;
}
.form_work .in{
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	width: 290px;
	background-color: #ccc;
	padding-left: 10px;
	word-break: break-all;
}
.form_work .input_work{
	display: inline-block;
	color: #333;
	font-size: 16px;
	font-weight: 400;
	width: 290px;
	height: 130px;
	background-color: #ccc;
	padding-top: 5px;
	padding-left: 10px;
}

.form_work .input_fabu{
	display: block;
	width: 290px;
	height: 30px;
	background-color: #ccc;
	float: left;
	margin-top: 15px;
	margin-left: 70px;
	cursor: pointer;
}

